<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="Description" content="Open Data Portal for NYC's Publications">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %} - Government Publications Portal (Beta)</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico " %}" />
    <link rel="icon" type="image/x-icon" href="{%  static "images/favicon.ico " %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css " %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css " %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/gpp.css " %}">
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}" type="text/javascript"></script>
    <script src="{% static "js/respond.min.js" %}" type="text/javascript"></script>
    <![endif]-->
</head>
<body onload="$('body').scrollTop($.jStorage.get('scrollPosition')); console.log($.jStorage.get('scrollPosition'));">
<!-- HEADER -->
<div id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="max-width: 960px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">

                <span><img src="/static/images/nyc_purple.gif " alt="NYC" style="width: 80px; height: 30px; margin-top: -7px;" /></span><span class="hidden-xs">&nbsp;&nbsp;Government Publications Portal (Beta)</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right pull-right" style="text-align: right;">
                <li>
                    <a href="http://www.nyc.gov/html/records/html/contact/publications.shtml" target="_blank">Feedback</a>
                </li>
                <li>
                    <a href="https://github.com/CityOfNewYork/DORIS-Publications-Portal/wiki">About</a>
                </li>
                <li>
                    <a href="http://www.nyc.gov/html/records/html/contact/publications.shtml" target="_blank">Contact</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/nycrecords" target="_blank">
                        <img src="/static/images/facebook.png " alt="facebook" style="width: 24px; height: 24px; margin-top: -7px;">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- HEADER -->
{% block content %} {% endblock %}
<!-- FOOTER -->
<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" style="max-width: 960px;">
        <div class="navbar-header">
            <p class="navbar-text nav-text pull-left">&copy; 2015 City of New York</p>
        </div>
    </div>
</div>
<!-- FOOTER -->
<!-- JAVASCRIPT -->
<script type="text/javascript" src="{% static "js/jquery.min.js " %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js " %}"></script>
<script type="text/javascript" src="{% static "js/jstorage.min.js " %}"></script>
<!--[if !IE]><!-->
<script type="text/javascript" src="{% static "js/bootstrap-select.js " %}"></script>
<!-- <![endif]-->
<!--[if IE 9]>
<script type="text/javascript" src="{% static "js/bootstrap-select-ie9.js " %}"></script>
<![endif]-->
<!--[if gte IE 10]>
<script type="text/javascript" src="{% static "js/bootstrap-select.js " %}"></script>
<![endif]-->
<!--[if !IE]><!-->
<script type="text/javascript" src="{% static "js/gpp.js " %}"></script>
<!--<![endif]-->
<!--[if IE 8]>
<script type="text/javascript" src="{% static "js/gpp-ie.js " %}"></script>
<![endif]-->
<!--[if gte IE 9]>
<script type="text/javascript" src="{% static "js/gpp.js " %}"></script>
		<![endif]-->
</body>
</html>
