<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Description" content="Open Data Protal for NYC's Publications">
  <title> {% block title %}{% endblock %} - Government Publications Portal</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static " images/favicon.ico " %}" />
  <link rel="icon" type="image/x-icon" href="{%  static " images/favicon.ico " %}" />
  <link rel="stylesheet" type="text/css" href="{% static " css/bootstrap-select.min.css " %}" />
  <link rel="stylesheet" type="text/css" href="{% static " css/bootstrap.min.css " %}" />
  <link rel="stylesheet" type="text/css" href="{% static " css/gpp.css " %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body onload="$('body').scrollTop($.jStorage.get('scrollPosition')); console.log($.jStorage.get('scrollPosition'));">
  <!-- HEADER -->
  <div id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="max-width: 960px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="{% static " images/nyc_purple.gif " %}" alt="NYC" style="width: 80px; height: 30px; margin-top: -7px;">
          <span class="hidden-xs">Government Publications Portal</span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right pull-right" style="text-align: right;">
          <li><a href="http://www.nyc.gov/html/records/html/contact/publications.shtml" target="_blank">Feedback</a>
          </li>
          <li><a href="https://github.com/CityOfNewYork/DORIS-Publications-Portal/wiki">About</a>
          </li>
          <li><a href="http://www.nyc.gov/html/records/html/contact/home.shtml" target="_blank">Contact</a>
          </li>
          <li>
            <a href="https://www.facebook.com/nycrecords" target="_blank">
              <img src="{% static " images/facebook.png " %}" alt="facebook" style="width: 24px; height: 24px; margin-top: -7px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- HEADER -->
  {% block content %} {% endblock %}
  <!-- FOOTER -->
  <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" style="max-width: 960px;">
      <div class="navbar-header">
        <p class="navbar-text nav-text pull-left">&copy; 2015 City of New York</p>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <!-- JAVASCRIPT -->
  <script type="text/javascript" src="{% static " js/jquery.min.js " } "></script>
  <script type="text/javascript" src="{% static " js/bootstrap-select.js " %}"></script>
  <script type="text/javascript" src="{% static " js/bootstrap.min.js " %}"></script>
  <script type="text/javascript" src="{% static " js/jstorage.min.js " %}"></script>
  <script type="text/javascript" src="{% static " js/gpp.js " %}"></script>
</body>

</html>
