html {
    overflow-y: scroll;
}
.btn-nyc {
    color: #fff;
    background-color: #6b27ca;
    border-color: #6027ae;
}
.btn-nyc:hover,
.btn-nyc:focus,
.btn-nyc:active,
.btn-nyc.active,
.open .dropdown-toggle.btn-nyc {
    color: #fff;
    background-color: #5a1dae;
    border-color: #3e1c70;
}
.btn-nyc:active,
.btn-nyc.active,
.open .dropdown-toggle.btn-nyc {
    background-image: none;
}
.btn-nyc.disabled,
.btn-nyc[disabled],
fieldset[disabled] .btn-nyc,
.btn-nyc.disabled:hover,
.btn-nyc[disabled]:hover,
fieldset[disabled] .btn-nyc:hover,
.btn-nyc.disabled:focus,
.btn-nyc[disabled]:focus,
fieldset[disabled] .btn-nyc:focus,
.btn-nyc.disabled:active,
.btn-nyc[disabled]:active,
fieldset[disabled] .btn-nyc:active,
.btn-nyc.disabled.active,
.btn-nyc[disabled].active,
fieldset[disabled] .btn-nyc.active {
    background-color: #8852d4;
    border-color: #6027ae;
}
/* btn-coral */
.btn-coral {
    color: #fff;
    background-color: #ff6666;
    border-color: #e04a4a;
}
.btn-coral:hover,
.btn-coral:focus,
.btn-coral:active,
.btn-coral.active,
.open .dropdown-toggle.btn-coral {
    color: #fff;
    background-color: #ff4444;
    border-color: #aa1313;
}
.btn-coral:active,
.btn-coral.active,
.open .dropdown-toggle.btn-coral {
    background-image: none;
}
/* panel-result */
.panel-result {
    border-color: #6b27ca;
}
.panel-result > .panel-heading {
    color: #34185a;/*#6734af*/
    background-color: #bb8ef9;
    border-color: #6b27ca;
}
.panel-result > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #6b27ca;
}
.panel-result > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #6b27ca;
}

#about {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-top: 6px;
}

h2 {
    color:purple;
}

body,html {
    height:100%;
}

body {
    padding-top: 151px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

#doc-emb {
    height: 100%;
    text-align: center;
}

/* are commas not working or something? */
.form-control-danger::-moz-placeholder {
    color: #FF0000;
}

.form-control-danger::-webkit-input-placeholder {
    color: #FF0000;
}

.form-contorl-danger::-ms-input-placeholder {
    color: #FF0000;
}

.jumbotron {
    text-align: center;
    background-color: rgba(255,255,255,0.75);
    margin-bottom: 55px;
}

.dropdown-menu {
    min-width: 131px;
    width: 131px;
}

.return-to-top {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Opera, Chrome, and Safari */
}

.modal-dialog{
    width: 45%;
}

.grey{
    color: #BCC6CC;
}

#results {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    padding-right: 10px;
}

.options {
    display: none;
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    padding-top: 151px;
    margin-bottom: 51px;
    padding-left: 0px;
    width: 285px;
    z-index: 1;
}

#head {
    width: 100%;
}

.selectpicker {
    text-align: left;
    width: auto;
}
.selectpickerie9 {
    text-align: left;
    width: 250px;
}

@media screen and (max-width: 767px) {
    #results {
        margin-left: -15px;
        margin-right: -15px;
    }

    .nav-text {
        margin-left: 15px;
    }

    #head {
        width: auto;
    }

    div .sidebar {
        width: 100% !important;
        padding-right: 0px;
        margin-right: 0px;
    }

    .sidebar > .options {
        width: auto !important;
    }

    #option_group {
        width: auto !important;
    }
    #btn {
        width: 100% !important;
    }
    #option_group_bt {
        width: 50% !important;
    }
}
#option_group {
    width: 260px;
}
.sidebar {
    position: absolute;
    right: 0;
    width: 285px;
}

.scroll-lock {
    overflow: hidden;
}
.focus {
    opacity: 1;
}

.navbar-results {
    top: 50px;
    z-index: 1029;
    border: none;
    background-color: white;
}

span.highlight {
    background-color: #fff2a8;
    color: blue;
}
