{% extends 'base.html' %}
{% block title %}View Publication{% endblock %}
{% block content %}

<style>
	body {
		padding-top: 101px;
	}
</style>

<div class="navbar navbar-default navbar-fixed-top" style="top: 50px; z-index: 1029; border: none; background-color: white" role="navigation">
	<div class="container" style="max-width: 960px;">
		<div class="navbar-header">
		<a type="button" class="btn btn-nyc navbar-btn navbar-left" href='{{ url_for('results', back='results') }}'>
			<span class="glyphicon glyphicon-arrow-left"></span> Back to Results
		</a>
		<span class="navbar-text" style="font-size:18px;color:black;"><strong>{{ document_title }}</strong></span>
		</div>
	</div>
</div>

<div id="main">
    {% if document_url %}
	<embed src="{{ document_url }}" width="100%" height="98%" style="width: 960px"></embed>
	{% endif %}
<div>
		
{% endblock %}